<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>COMPLETE YOUR ORDER</h2>
    </div>

    <div class="row">
      <div class="col-6">
        <h4 class="mb-3">Billing Address</h4>
        <form
          class="needs-validation"
          action="/orders/new"
          method="post"
          enctype="multipart/form-data">
          <div>
            <div class="col-10">
              <label for="address" class="form-label">Address</label>
              <input
                name="order.billingAddress"
                type="text"
                class="form-control"
                id="order.billingAddress"
                placeholder="1234 Main St"
                required
                [(ngModel)]="order.billingAddress" />
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-md-6">
              <label for="country" class="form-label">Country</label>
              <select
                name="country"
                class="form-select"
                id="country"
                required
                [(ngModel)]="order.country">
                <option value="">choose...</option>
                <option>España</option>
              </select>
              <div class="invalid-feedback">Please select a valid country.</div>
            </div>

            <div class="col-md-6">
              <label for="state" class="form-label">Region</label>
              <select
                name="region"
                class="form-select"
                id="region"
                required
                [(ngModel)]="order.region">
                <option value="">choose...</option>
                <option>Madrid</option>
                <option>Valencia</option>
                <option>Barcelona</option>
                <option>Sevilla</option>
              </select>
              <div class="invalid-feedback">Please provide a valid state.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <div class="col-12 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">MI CARRITO</span>
            <span class="badge bg-primary rounded-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0" [(ngModel)]="order.courseTitle">
                  {{ order.courseTitle }}
                </h6>
                <!--<small class="text-muted">description</small>-->
              </div>
              <span class="text-muted" [(ngModel)]="order.price"
                >{{ order.price }}€</span
              >
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Euros)</span>
              <strong [(ngModel)]="order.price">{{ order.price }}€</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <div class="row">
      <div class="col-7">
        <h4 class="mb-3">Pago</h4>
        <div class="my-3">
          <div class="form-check">
            <input
              value="credit"
              id="credit"
              name="paymentMethod"
              type="radio"
              class="form-check-input"
              checked=""
              required
              [(ngModel)]="order.paymentMethod" />
            <label class="form-check-label" for="credit">Credit Card</label>
          </div>
          <div class="form-check">
            <input
              value="debit"
              id="debit"
              name="paymentMethod"
              type="radio"
              class="form-check-input"
              required
              [(ngModel)]="order.paymentMethod" />
            <label class="form-check-label" for="debit">Debit Card</label>
          </div>
          <div class="form-check">
            <input
              value="paypal"
              id="paypal"
              name="paymentMethod"
              type="radio"
              class="form-check-input"
              required
              [(ngModel)]="order.paymentMethod" />
            <label class="form-check-label" for="paypal">PayPal</label>
          </div>
        </div>

        <div class="row gy-3">
          <div class="col-md-6">
            <label for="cc-number" class="form-label">Número de tarjeta</label>
            <input
              type="text"
              class="form-control"
              name="ccnumber"
              id="cc-number"
              placeholder="XXXXX"
              [(ngModel)]="order.dataCard"
              required />
            <div class="invalid-feedback">Credit card number is required</div>
          </div>

          <div class="col-md-3">
            <label for="cc-expiration" class="form-label">Expiration</label>
            <input
              name="expiration"
              type="text"
              class="form-control"
              id="cc-expiration"
              placeholder="XX"
              required />
            <div class="invalid-feedback">Expiration date required</div>
          </div>

          <div class="col-md-3">
            <label for="cc-cvv" class="form-label">CVV</label>
            <input
              name="cvv"
              type="text"
              class="form-control"
              id="cc-cvv"
              placeholder="XXXXX"
              required />
            <div class="invalid-feedback">Security code required</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="col-md-8 themed-grid-col"></div>
        <div class="col-10 themed-grid-col" *ngIf="!isLogged">
          <button class="w-100 btn btn-primary btn-lg">
            <a [routerLink]="['/new/login']"> Finalizar compra</a>
          </button>
        </div>
        <div class="col-10 themed-grid-col" *ngIf="isLogged">
          <button
            class="w-100 btn btn-primary btn-lg"
            (click)="setOrder()"
            *ngIf="isLogged">
            <a> Finalizar compra</a>
          </button>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <br />
  </main>
</div>
<div class="container" *ngIf="!isLogged">
  <div class="py-5 text-center">
    <h2>YOU CANT SEE THIS PAGE</h2>
  </div>
</div>
