{{> header}}
  <main class="form-signin">
  <div class="container text-center">
    <form>
      <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control top" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">e-mail</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control bottom" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
      <p class="mb-0 ">Dont have an account?</p>
      <a href="/Users/emi/Documents/URJC/Web Dev/webapp10/Youdemy/web/register.html" style="margin-bottom:20px; display:block;">Register here!</a>
    </form>

  </div>
{{> footer}}